<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="TestServerURL" value="http://bjones.subsonic.org"/>
    <add key="TestServerName" value="Test"/>
    <add key="TestServerUsername" value="Guest"/>
    <add key="TestServerPassword" value="notbrett"/>
    <add key="AppName" value="SharpSub"/>
    <add key="RestVersion" value="1.5"/>

  </appSettings>
</configuration>
