<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TestServerURL" value="bjones.subsonic.org"/>
    <add key="TestServerName" value="Test"/>
    <add key="TestServerUsername" value="Guest"/>
    <add key="TestServerPassword" value="notbrett"/>
    <add key="AppName" value="SharpSub"/>
    <add key="RestVersion" value="1.5"/>

  </appSettings>
</configuration>